body {
  padding-top: 80px;
}
.navbar {
  background-color: #6200ee;
}
.nav-button {
  color: white;
}
.nav-button:hover {
  color:white;
  opacity: .8;
}
.navbar-brand {
  float: left;
}
.card {
  float: left;
  width: 23%;
  margin: 1%;
}

/*IPAD*/
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .card {
    width: 23%;
  }
}

/*IPHONE*/
@media only screen and (min-width: 0) and (max-width: 667px) {
  .card {
    width: 48%;
  }
}
