//Custom @font-face

$font-family: 'Roboto';

//Custom colors
$color-purple: #6200ee;
$color-favourite-active: #007bff;
$color-muted: rgba(0,0,0, .3);
$color-muted-lighter: rgba(0,0,0, .15);
$color-muted-less: rgba(0,0,0, .1);
